<a href="https://colab.research.google.com/github/navyadua/christu-ug/blob/main/sem2/stats-tool-lab/Data%20Preprocesing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PREPROCESSING

Import necessary libraries

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import warnings
warnings.filterwarnings('ignore')

Import Dataset

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/navyadua/data/main/hotel_booking_demand.csv',na_values = ['no info', '?'])
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,4,2016,February,6,6,2,1,2,...,No Deposit,250.0,NaN,0,Transient,97.00,1,0,Check-Out,09-02-16
1,City Hotel,1,290,2015,August,32,3,1,3,2,...,No Deposit,1.0,NaN,0,Transient-Party,62.00,0,0,Canceled,06-07-15
2,City Hotel,0,99,2016,May,23,29,1,0,2,...,No Deposit,9.0,NaN,0,Transient,198.90,0,2,Check-Out,30-05-16
3,City Hotel,0,6,2017,August,35,27,1,0,2,...,No Deposit,14.0,NaN,0,Transient,134.00,0,1,Check-Out,28-08-17
4,City Hotel,0,55,2016,March,14,29,0,4,2,...,No Deposit,9.0,NaN,0,Transient,85.85,0,0,Check-Out,02-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,City Hotel,0,15,2016,February,8,19,0,1,1,...,No Deposit,NaN,67.0,0,Transient-Party,81.00,0,0,Check-Out,20-02-16
496,City Hotel,1,237,2017,August,34,21,1,2,1,...,No Deposit,9.0,NaN,0,Transient,109.80,0,1,Canceled,27-04-17
497,City Hotel,0,25,2017,March,10,6,1,3,2,...,No Deposit,8.0,NaN,0,Transient,91.80,0,0,Check-Out,10-03-17
498,City Hotel,1,4,2016,February,6,5,2,2,2,...,No Deposit,9.0,NaN,0,Transient,91.00,0,0,Canceled,01-02-16
499,City Hotel,0,14,2015,September,37,10,2,6,1,...,No Deposit,14.0,NaN,0,Transient,100.88,0,0,Check-Out,18-09-15

Counting number of null values

In [ ]:
df.isna().sum()

hotel                               0
is_canceled                         0
lead_time                           0
arrival_date_year                   0
arrival_date_month                  0
arrival_date_week_number            0
arrival_date_day_of_month           0
stays_in_weekend_nights             0
stays_in_week_nights                0
adults                              0
children                            0
babies                              0
meal                                0
country                             6
market_segment                      0
distribution_channel                0
is_repeated_guest                   0
previous_cancellations              0
previous_bookings_not_canceled      0
reserved_room_type                  0
assigned_room_type                  0
booking_changes                     0
deposit_type                        0
agent                              72
company                           475
days_in_waiting_list                0
customer_type                       0
adr                                 0
required_car_parking_spaces         0
total_of_special_requests           0
reservation_status                  0
reservation_status_date             0
dtype: int64

Percentage of null values in each column

In [ ]:
df.isna().sum()/len(df)*100

hotel                              0.0
is_canceled                        0.0
lead_time                          0.0
arrival_date_year                  0.0
arrival_date_month                 0.0
arrival_date_week_number           0.0
arrival_date_day_of_month          0.0
stays_in_weekend_nights            0.0
stays_in_week_nights               0.0
adults                             0.0
children                           0.0
babies                             0.0
meal                               0.0
country                            1.2
market_segment                     0.0
distribution_channel               0.0
is_repeated_guest                  0.0
previous_cancellations             0.0
previous_bookings_not_canceled     0.0
reserved_room_type                 0.0
assigned_room_type                 0.0
booking_changes                    0.0
deposit_type                       0.0
agent                             14.4
company                           95.0
days_in_waiting_list               0.0
customer_type                      0.0
adr                                0.0
required_car_parking_spaces        0.0
total_of_special_requests          0.0
reservation_status                 0.0
reservation_status_date            0.0
dtype: float64

In [ ]:
df.dropna(axis=0)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
325,Resort Hotel,0,5,2015,December,50,9,0,2,1,...,No Deposit,196.0,61.0,0,Transient,25.0,0,0,Check-Out,11-12-15

Company column haas too many null values, so we will delete the column so as to perform various operations

In [ ]:
df.drop(columns = ['company'] , axis = 1 , inplace = True)
df.columns[df.isnull().any()]

Index(['country', 'agent'], dtype='object')

In [ ]:
null = df[df.isnull().any(axis=1)]
null

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
8,Resort Hotel,0,286,2015,October,42,14,2,4,2,...,2,No Deposit,NaN,0,Transient-Party,8.0,0,0,Check-Out,20-10-15
22,Resort Hotel,0,7,2016,January,3,13,0,2,1,...,0,No Deposit,94.0,0,Transient,27.0,0,0,Check-Out,15-01-16
37,Resort Hotel,0,17,2016,February,6,2,0,2,1,...,0,No Deposit,NaN,0,Transient,67.0,0,0,Check-Out,04-02-16
41,City Hotel,0,4,2016,September,37,6,0,3,1,...,0,No Deposit,NaN,0,Transient,67.0,1,1,Check-Out,09-09-16
48,Resort Hotel,0,190,2016,August,32,2,0,5,3,...,0,No Deposit,NaN,0,Transient,336.5,1,1,Check-Out,07-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Resort Hotel,0,40,2017,January,3,16,1,2,1,...,1,No Deposit,NaN,0,Transient-Party,55.0,0,0,Check-Out,19-01-17
471,City Hotel,0,2,2017,February,6,9,0,2,1,...,1,No Deposit,NaN,0,Transient,79.0,0,1,Check-Out,11-02-17
478,Resort Hotel,0,10,2015,October,44,29,1,3,2,...,1,No Deposit,NaN,0,Transient,42.0,1,0,Check-Out,02-11-15
490,City Hotel,0,1,2016,March,10,3,0,1,1,...,0,No Deposit,NaN,0,Transient,89.0,0,0,Check-Out,04-03-16
495,City Hotel,0,15,2016,February,8,19,0,1,1,...,0,No Deposit,NaN,0,Transient-Party,81.0,0,0,Check-Out,20-02-16

Dropping all rows with null values

In [ ]:
df.dropna(axis = 0,inplace = True)

In [ ]:
df.shape

(426, 31)

In [ ]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [ ]:
df.isna().sum()/len(df)*100

hotel                             0.0
is_canceled                       0.0
lead_time                         0.0
arrival_date_year                 0.0
arrival_date_month                0.0
arrival_date_week_number          0.0
arrival_date_day_of_month         0.0
stays_in_weekend_nights           0.0
stays_in_week_nights              0.0
adults                            0.0
children                          0.0
babies                            0.0
meal                              0.0
country                           0.0
market_segment                    0.0
distribution_channel              0.0
is_repeated_guest                 0.0
previous_cancellations            0.0
previous_bookings_not_canceled    0.0
reserved_room_type                0.0
assigned_room_type                0.0
booking_changes                   0.0
deposit_type                      0.0
agent                             0.0
days_in_waiting_list              0.0
customer_type                     0.0
adr                               0.0
required_car_parking_spaces       0.0
total_of_special_requests         0.0
reservation_status                0.0
reservation_status_date           0.0
dtype: float64

In [ ]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000
mean,0.424883,113.809859,2016.171362,26.518779,15.436620,0.950704,2.598592,1.875587,0.089202,0.002347,0.016432,0.058685,0.011737,0.194836,77.666667,2.373239,102.275751,0.044601,0.619718
std,0.494906,101.130499,0.669487,13.504365,8.979295,0.965237,1.727534,0.450897,0.358462,0.048450,0.127279,0.235311,0.127799,0.697607,104.251085,14.662931,42.914841,0.206669,0.826608
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,30.250000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,75.000000,0.000000,0.000000
50%,0.000000,90.000000,2016.000000,26.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,0.000000,97.000000,0.000000,0.000000
75%,1.000000,168.750000,2017.000000,38.000000,23.750000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,138.000000,0.000000,121.125000,0.000000,1.000000
max,1.000000,542.000000,2017.000000,53.000000,31.000000,4.000000,10.000000,3.000000,2.000000,1.000000,1.000000,1.000000,2.000000,10.000000,531.000000,178.000000,310.000000,1.000000,4.000000

###Standardisation

In [ ]:
from sklearn import preprocessing
df['adr_standardised']=preprocessing.scale(df.adr)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,adr_standardised
0,Resort Hotel,0,4,2016,February,6,6,2,1,2,...,No Deposit,250.0,0,Transient,97.00,1,0,Check-Out,09-02-16,-0.123080
1,City Hotel,1,290,2015,August,32,3,1,3,2,...,No Deposit,1.0,0,Transient-Party,62.00,0,0,Canceled,06-07-15,-0.939608
2,City Hotel,0,99,2016,May,23,29,1,0,2,...,No Deposit,9.0,0,Transient,198.90,0,2,Check-Out,30-05-16,2.254182
3,City Hotel,0,6,2017,August,35,27,1,0,2,...,No Deposit,14.0,0,Transient,134.00,0,1,Check-Out,28-08-17,0.740106
4,City Hotel,0,55,2016,March,14,29,0,4,2,...,No Deposit,9.0,0,Transient,85.85,0,0,Check-Out,02-04-16,-0.383202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,City Hotel,0,40,2016,December,50,7,0,4,2,...,No Deposit,9.0,0,Transient,96.90,0,1,Check-Out,11-12-16,-0.125413
496,City Hotel,1,237,2017,August,34,21,1,2,1,...,No Deposit,9.0,0,Transient,109.80,0,1,Canceled,27-04-17,0.175536
497,City Hotel,0,25,2017,March,10,6,1,3,2,...,No Deposit,8.0,0,Transient,91.80,0,0,Check-Out,10-03-17,-0.244393
498,City Hotel,1,4,2016,February,6,5,2,2,2,...,No Deposit,9.0,0,Transient,91.00,0,0,Canceled,01-02-16,-0.263056
499,City Hotel,0,14,2015,September,37,10,2,6,1,...,No Deposit,14.0,0,Transient,100.88,0,0,Check-Out,18-09-15,-0.032562

In [ ]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,adr_standardised
count,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,4.260000e+02
mean,0.424883,113.809859,2016.171362,26.518779,15.436620,0.950704,2.598592,1.875587,0.089202,0.002347,0.016432,0.058685,0.011737,0.194836,77.666667,2.373239,102.275751,0.044601,0.619718,-1.376051e-16
std,0.494906,101.130499,0.669487,13.504365,8.979295,0.965237,1.727534,0.450897,0.358462,0.048450,0.127279,0.235311,0.127799,0.697607,104.251085,14.662931,42.914841,0.206669,0.826608,1.001176e+00
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-2.386028e+00
25%,0.000000,30.250000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,75.000000,0.000000,0.000000,-6.363258e-01
50%,0.000000,90.000000,2016.000000,26.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,0.000000,97.000000,0.000000,0.000000,-1.230799e-01
75%,1.000000,168.750000,2017.000000,38.000000,23.750000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,138.000000,0.000000,121.125000,0.000000,1.000000,4.397409e-01
max,1.000000,542.000000,2017.000000,53.000000,31.000000,4.000000,10.000000,3.000000,2.000000,1.000000,1.000000,1.000000,2.000000,10.000000,531.000000,178.000000,310.000000,1.000000,4.000000,4.846074e+00

##Normalisation

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
array=np.array(df.adr).reshape(-1,1)
df['adr_normalised']=pd.DataFrame(scaler.fit_transform(array))
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,adr_standardised,adr_normalised
0,Resort Hotel,0,4,2016,February,6,6,2,1,2,...,250.0,0,Transient,97.00,1,0,Check-Out,09-02-16,-0.123080,0.312903
1,City Hotel,1,290,2015,August,32,3,1,3,2,...,1.0,0,Transient-Party,62.00,0,0,Canceled,06-07-15,-0.939608,0.200000
2,City Hotel,0,99,2016,May,23,29,1,0,2,...,9.0,0,Transient,198.90,0,2,Check-Out,30-05-16,2.254182,0.641613
3,City Hotel,0,6,2017,August,35,27,1,0,2,...,14.0,0,Transient,134.00,0,1,Check-Out,28-08-17,0.740106,0.432258
4,City Hotel,0,55,2016,March,14,29,0,4,2,...,9.0,0,Transient,85.85,0,0,Check-Out,02-04-16,-0.383202,0.276935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,City Hotel,0,40,2016,December,50,7,0,4,2,...,9.0,0,Transient,96.90,0,1,Check-Out,11-12-16,-0.125413,NaN
496,City Hotel,1,237,2017,August,34,21,1,2,1,...,9.0,0,Transient,109.80,0,1,Canceled,27-04-17,0.175536,NaN
497,City Hotel,0,25,2017,March,10,6,1,3,2,...,8.0,0,Transient,91.80,0,0,Check-Out,10-03-17,-0.244393,NaN
498,City Hotel,1,4,2016,February,6,5,2,2,2,...,9.0,0,Transient,91.00,0,0,Canceled,01-02-16,-0.263056,NaN
499,City Hotel,0,14,2015,September,37,10,2,6,1,...,14.0,0,Transient,100.88,0,0,Check-Out,18-09-15,-0.032562,NaN

In [ ]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,adr_standardised,adr_normalised
count,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,...,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,4.260000e+02,358.000000
mean,0.424883,113.809859,2016.171362,26.518779,15.436620,0.950704,2.598592,1.875587,0.089202,0.002347,...,0.058685,0.011737,0.194836,77.666667,2.373239,102.275751,0.044601,0.619718,-1.376051e-16,0.329987
std,0.494906,101.130499,0.669487,13.504365,8.979295,0.965237,1.727534,0.450897,0.358462,0.048450,...,0.235311,0.127799,0.697607,104.251085,14.662931,42.914841,0.206669,0.826608,1.001176e+00,0.140799
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-2.386028e+00,0.000000
25%,0.000000,30.250000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,9.000000,0.000000,75.000000,0.000000,0.000000,-6.363258e-01,0.241935
50%,0.000000,90.000000,2016.000000,26.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,13.000000,0.000000,97.000000,0.000000,0.000000,-1.230799e-01,0.315661
75%,1.000000,168.750000,2017.000000,38.000000,23.750000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,138.000000,0.000000,121.125000,0.000000,1.000000,4.397409e-01,0.386129
max,1.000000,542.000000,2017.000000,53.000000,31.000000,4.000000,10.000000,3.000000,2.000000,1.000000,...,1.000000,2.000000,10.000000,531.000000,178.000000,310.000000,1.000000,4.000000,4.846074e+00,1.000000

##PERFECT DATASET

In [ ]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,adr_standardised,adr_normalised
0,Resort Hotel,0,4,2016,February,6,6,2,1,2,...,250.0,0,Transient,97.00,1,0,Check-Out,09-02-16,-0.123080,0.312903
1,City Hotel,1,290,2015,August,32,3,1,3,2,...,1.0,0,Transient-Party,62.00,0,0,Canceled,06-07-15,-0.939608,0.200000
2,City Hotel,0,99,2016,May,23,29,1,0,2,...,9.0,0,Transient,198.90,0,2,Check-Out,30-05-16,2.254182,0.641613
3,City Hotel,0,6,2017,August,35,27,1,0,2,...,14.0,0,Transient,134.00,0,1,Check-Out,28-08-17,0.740106,0.432258
4,City Hotel,0,55,2016,March,14,29,0,4,2,...,9.0,0,Transient,85.85,0,0,Check-Out,02-04-16,-0.383202,0.276935
5,City Hotel,1,12,2016,December,53,30,0,2,2,...,9.0,0,Transient,148.00,0,0,Canceled,23-12-16,1.066717,0.477419
6,City Hotel,0,29,2016,October,41,3,1,2,2,...,9.0,0,Transient,143.03,0,3,Check-Out,06-10-16,0.950771,0.461387
7,City Hotel,0,148,2016,May,21,18,0,4,2,...,7.0,0,Transient,108.19,0,2,Check-Out,22-05-16,0.137976,0.349000
9,City Hotel,0,1,2016,August,35,24,0,1,2,...,9.0,0,Transient,228.00,1,2,Check-Out,25-08-16,2.933066,0.223548
10,Resort Hotel,0,73,2016,April,18,29,1,2,2,...,241.0,0,Transient,69.30,0,1,Check-Out,02-05-16,-0.769303,0.264742

In [ ]:
df.isna().sum()

hotel                              0
is_canceled                        0
lead_time                          0
arrival_date_year                  0
arrival_date_month                 0
arrival_date_week_number           0
arrival_date_day_of_month          0
stays_in_weekend_nights            0
stays_in_week_nights               0
adults                             0
children                           0
babies                             0
meal                               0
country                            0
market_segment                     0
distribution_channel               0
is_repeated_guest                  0
previous_cancellations             0
previous_bookings_not_canceled     0
reserved_room_type                 0
assigned_room_type                 0
booking_changes                    0
deposit_type                       0
agent                              0
days_in_waiting_list               0
customer_type                      0
adr                                0
required_car_parking_spaces        0
total_of_special_requests          0
reservation_status                 0
reservation_status_date            0
adr_standardised                   0
adr_normalised                    68
dtype: int64